@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Junge, serif;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.bg-container {
  overflow: hidden;
  width: 70%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.rotate-text {
  position: absolute;
  right: -13rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  text-align: center;
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

@media (max-width: 640px) {
  .rotate-text {
    position: static;
    transform: rotate(0deg);
    margin-top: 20px;
    right: auto;
    text-align: center;
  }
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-wrap > button {
    flex: 1 1 50%;
    max-width: 50%;
    margin-bottom: 14px;
  }
}
