@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Junge, serif;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.elliptical-line {
  position: relative;
  display: inline-block;
}

.elliptical-line::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160%; /* Adjust width to create ellipse */
  height: 1.8em; /* Adjust height to create ellipse */
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
}

.bg-container {
  border-radius: 70px 252.5px 33px 143px;

  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text-6xl.relative {
  height: 2em;
}
